.login-container {
    margin: 0 auto;
    padding: 4rem;
    background-color: #f9f9f9;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

}

.login-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.login-description {
    font-size: 1.4rem;
    color: #333;
    margin-bottom: 2rem;
    line-height: 1.6;
}

.login-promo {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 2.5rem;
}

.register-link {
    color: #ff6f61;
    text-decoration: none;
    font-weight: bold;
}

.register-link:hover {
    text-decoration: underline;
}
